<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">edu.ub.bda.ubticket.utils.SQLiteDialect</property>
    <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
    <property name="hibernate.connection.url">jdbc:sqlite:database.sqlite</property>
    <property name="hibernate.connection.username"></property>
    <property name="hibernate.connection.password"></property>
    <!-- property name="hibernate.default_schema">hibernate</property -->
    <property name="hibernate.connection.charset">UTF-8</property>
    
    <!-- Definimos propiedades de Hibernate para SQL -->
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>

    <!-- none, update, create -->
    <property name="hibernate.hbm2ddl.auto">none</property>

    <mapping resource="edu/ub/bda/ubticket/beans/Espectaculo.hbm.xml" />
    <mapping resource="edu/ub/bda/ubticket/beans/Categoria.hbm.xml" />
  </session-factory>
</hibernate-configuration>